<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div class="flash notice"><%= flash[:notice] if flash[:notice] %> </div>
	<div class="flash class"><%= flash[:alert] if flash[:alert] %> </div>
	<%=yield %>
</body>

</html>